__pycache__/
*/migrations/*
!*/migrations/__init__.py
/media/
civico/templates/civico/section/promotions22.html
civico/templates/civico/section/services22.html
civicodental/settings.py
civicodental/settings copy.txt
civico/templates/civico/section/hero22.html
