{% load static %}

<!-- Call-to-action Section - Home Page -->
{% if service_calltoaction %}
<section id="{{ section_selection.section.html_id }}" class="call-to-action">

  {% if service_calltoaction.background_image %}
  <img src="{{ promo_calltoaction.background_image.url }}" alt="...">
  {% else %}
  <img src="{% static 'civico/img/call2action.jpg' %}" alt="">
  {% endif %}

  <div class="container">
    <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
      <div class="col-xl-10">
        <div class="text-center">
          <h3>{{ promo_calltoaction.title }}</h3>
          <p>{{ promo_calltoaction.description }}</p>
            <a href="https://api.whatsapp.com/send?phone={{ promo_calltoaction.whatsapp_number }}&text={{ promo_calltoaction.whatsapp_message }}"
              class="cta-btn" target="_blank"><i class="bi bi-whatsapp"></i> {{ promo_calltoaction.btn_text }}</a>
            <!-- <a class="cta-btn" href="{% url 'civico:index' %}#contact">Agenda tu cita!</a> -->
        </div>
      </div>
    </div>
  </div>

</section>
{% endif %}

<!-- End Call-to-action Section -->