
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Lato", sans-serif;
}

/* Global Colors */
:root {
    --color-default: #212529;
    --color-default-rgb: 33, 37, 41;
    --color-background: #ffffff;
    --color-background-rgb: 255, 255, 255;
    --color-primary: #32869e;
    --color-primary-rgb: 232, 69, 69;
    --color-secondary: #32353a;
    --color-secondary-rgb: 50, 53, 58;
    --color-box-background: #ffffff;
    --color-box-background-rgb: 255, 255, 255;
    --color-inverse: #ffffff;
    --color-inverse-rgb: 255, 255, 255;
  }

  section {
    color: var(--color-default);
    background-color: var(--color-background);
    padding: 60px 0;
    overflow: clip;
  }
  
header{
    /* background-color: rgba(52, 59, 64, 0.9); */
    background-color: #32869e;
}

/* body{
    background-color:#cbd4d9;
    background-color:#a6ccd5;
} */

.portada {
    background-color: black;
    height: 100vh;
    background-image: url(./img/civico_27.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  color: var(--color-default);
  background-color: var(--color-background);
  font-family: var(--font-default);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: rgba(var(--color-primary-rgb), 0.7);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

section {
  color: var(--color-default);
  background-color: var(--color-background);
  padding: 60px 0;
  overflow: clip;
}

/* Seccion Portada Homepage */

.hero {
    --color-default: #ffffff;
    --color-default-rgb: 255, 255, 255;
    --color-background: #000000;
    --color-background-rgb: 0, 0, 0;
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 160px 0 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 1;
  }
  
  .hero:before {
    content: "";
    background: rgba(var(--color-background-rgb), 0.5);
    position: absolute;
    inset: 0;
    z-index: 2;
  }
  
  .hero .container {
    position: relative;
    z-index: 3;
  }
  
  .hero h2 {
    margin: 0;
    font-size: 44px;
    font-weight: 700;
  }
  
  .hero p {
    color: rgba(var(--color-default-rgb), 0.8);
    margin: 5px 0 0 0;
    font-size: 20px;
  }
  
  .hero .sign-up-form {
    margin-top: 20px;
    padding: 10px;
    border-radius: 7px;
    background: var(--color-box-background);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
  }
  
  .hero .sign-up-form .form-control {
    border: none;
  }
  
  .hero .sign-up-form .form-control:active,
  .hero .sign-up-form .form-control:focus {
    outline: none;
    box-shadow: none;
  }
  
  .hero .sign-up-form input[type=submit] {
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    padding: 8px 20px 10px 20px;
    border-radius: 7px;
    color: var(--color-inverse);
  }
  
  .hero .sign-up-form input[type=submit]:hover {
    background-color: rgba(var(--color-primary-rgb), 0.9);
  }
  
  @media (max-width: 768px) {
    .hero h2 {
      font-size: 32px;
    }
  
    .hero p {
      font-size: 18px;
    }
  }

/* Services Section - Home Page
------------------------------*/
.services .service-item {
  position: relative;
  padding-top: 40px;
}

.services .service-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: rgba(var(--color-default-rgb), 0.1);
}

.services .service-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: var(--color-primary);
  border-right: 5px solid var(--color-background);
}

.services .service-item .icon {
  width: 48px;
  height: 48px;
  position: relative;
  margin-right: 50px;
  line-height: 0;
}

.services .service-item .icon i {
  color: rgba(var(--color-default-rgb), 0.7);
  font-size: 56px;
  transition: ease-in-out 0.3s;
  z-index: 2;
  position: relative;
}

.services .service-item .icon:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  background: rgba(var(--color-primary-rgb), 0.3);
  border-radius: 50px;
  z-index: 1;
  bottom: -15px;
  right: -15px;
  transition: 0.3s;
}

.services .service-item .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .service-item .title a {
  color: var(--color-secondary);
}

.services .service-item .title a:hover {
  color: var(--color-primary);
}

.services .service-item .description {
  line-height: 24px;
  font-size: 14px;
}

