{% extends 'blog/base.html' %}
{% block title %}Cambiar Clave{% endblock %}

{% block body_class %}
class="blog-page" data-bs-spy="scroll" data-bs-target="#navmenu"
{% endblock %}

{% block blog_content %}

<main id="main">

    <!-- Blog Page Title & Breadcrumbs -->
    <div data-aos="fade" class="page-title">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-start text-start">
                    <div class="col-lg-8">
                        <h1>Cambiar Clave</h1>
                        <p class="mb-0">Complete los siguientes datos para cambiar su clave de acceso.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Page Title -->

    <section class="">
        <div class='container'>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Cambiar Clave</button>
                </form>

                <br>
                <ul>
                    <li>Tu contraseña no puede ser demasiado similar a tu otra información personal.</li>
                    <li>Tu contraseña debe contener al menos 8 caracteres.</li>
                    <li>Tu contraseña no puede ser una contraseña comúnmente utilizada.</li>
                    <li>Tu contraseña no puede ser completamente numérica.</li>
                </ul>

            </div>

        </div>
    </section>
</main>

{% endblock %}