{% extends 'promociones/base.html' %}
{% block title %}Confuguración de Cuenta{% endblock %}

{% block body_class %}
class="blog-page" data-bs-spy="scroll" data-bs-target="#navmenu"
{% endblock %}

{% block blog_content %}

<main id="main">

    <!-- Blog Page Title & Breadcrumbs -->
    <div data-aos="fade" class="page-title">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-start text-start">
                    <div class="col-lg-8">
                        <h1>Configuración de Cuenta</h1>
                        <p class="mb-0">A continuación podrá actualizar los datos de configuración de su cuenta.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Page Title -->

    <section class="">
        <div class='container'>
            <div class="form_group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Actualizar</button>
                </form>
            </div>
        </div>
    </section>
</main>

{% endblock %}