{% extends 'civico/base.html' %}
{% block title %}Cambio de Clave{% endblock %}

{% block body_class %}
class="blog-page" data-bs-spy="scroll" data-bs-target="#navmenu"
{% endblock %}

{% block main %}

<main id="main">

    <!-- Blog Page Title & Breadcrumbs -->
    <div data-aos="fade" class="page-title">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-start text-start">
                    <div class="col-lg-8">
                        <h1>Cambio de Clave</h1>
                        <p class="mb-0">Su clave ha sido cambiada exitosamente.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Page Title -->
</main>

{% endblock %}