{% extends 'blog/base.html' %}
{% block title %}Perfil de Usuario{% endblock %}

{% block body_class %}
class="blog-page" data-bs-spy="scroll" data-bs-target="#navmenu"
{% endblock %}

{% block blog_content %}

<main id="main">

    <!-- Blog Page Title & Breadcrumbs -->
    <div data-aos="fade" class="page-title">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-start text-start">
                    <div class="col-lg-8">
                        <h1>Perfil de Usuario</h1>
                        <p class="mb-0"></p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Page Title -->

    {% if profile %}
    <section class="">
        <div class='container'>
            <div class="card mb-3">
                <div class="row g-0 align-items-center">
                    <div class="col-md-2 p-3 member" data-aos="fade-up" data-aos-delay="100">
                        <div class="member-img">
                            {% if profile.profile_pic %}
                            <img src="{{ profile.profile_pic.url }}" class="img-fluid rounded-circle" alt="...">
                            {% else %}
                            <i class="bi bi-person" style="font-size: 2rem; color: gray;"></i>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-10 p-3">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ profile.first_name }}
                                {{ profile.last_name }}
                            </h5>
                            <p class="card-text">
                                <div class="text-body-secondary d-flex align-items-center justify-content-between">

                                    <div>
                                        {% if profile.website_url %}
                                        <a href="{{ profile.website_url }}" target="_blank"><i class="bi bi-browser-chrome"></i></a>
                                        {% endif %}

                                        {% if profile.facebook %}
                                        <a href="{{ profile.facebook }}" target="_blank"><i class="bi bi-facebook"></i></a>
                                        {% endif %}

                                        {% if profile.instagram %}
                                        <a href="{{ profile.instagram }}" target="_blank"><i class="bi bi-instagram"></i></a>
                                        {% endif %}

                                        {% if profile.linkedin %}
                                        <a href="{{ profile.linkedin }}" target="_blank"><i class="bi bi-linkedin"></i></a>
                                        {% endif %}
                                    </div>
                                    <div>
                                        {% if user.id == profile.user.id %}
                                        <a href="{% url 'members:edit_profile' profile.id %}"><i
                                                class="bi bi-pencil"></i></a>
                                        {% endif %}
                                    </div>
                        </div>
                        </small>
                        </p>
                        <p class="card-text">{{ profile.bio }}</p>

                    </div>
                </div>
            </div>
        </div>

        </div>

    </section>
    {% else %}
    <p>El perfil no existe</p>
    {% endif %}
</main>

{% endblock %}