{% load static %}

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="{% url 'civico:index' %}" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{% static 'civico/img/favicon.svg' %}" alt="civico-logo"> -->

        <img src="{% static 'civico/img/logo.png' %}" alt="Logo" width="80">
        <h1>Civico Dental Care</h1>
        <!-- <span>.</span> -->
      </a>

      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'civico:index' %}#hero" class="active">Inicio</a></li>
          <li><a href="{% url 'civico:index' %}#about">Nosotros</a></li>
          <li><a href="{% url 'civico:index' %}#services">Servicios</a></li>
          <li><a href="{% url 'civico:index' %}#promociones">Promociones</a></li>

          <li><a href="{% url 'civico:index' %}#portfolio">Experiencia</a></li>
          <li><a href="{% url 'civico:index' %}#team">Odontólogos</a></li>
          <li><a href="{% url 'civico:index' %}#contact">Contacto</a></li>
        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->

      <a class="btn-getstarted" href="{% url 'civico:index' %}#about">Comenzar</a>

    </div>
  </header><!-- End Header -->