{% load static %}

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="{% url 'civico:index' %}" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{% static 'civico/img/favicon.svg' %}" alt="civico-logo"> -->

        <img src="{% static 'civico/img/logo.png' %}" alt="Logo" width="80">
        <h1>Civico Dental Care</h1>
        <!-- <span>.</span> -->
      </a>

      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          {% if sections %}
          {% for nav in sections %}
          {% if nav.is_visible and nav.nav_enabled and nav.page.template_path == 'civico/index.html' %}

          <li><a href="{% url 'civico:index' %}#{{ nav.section.html_id }}">{{ nav.section.name }}</a></li>

          {% endif %}
          {% endfor %}
          {% endif %}
        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->

      <!-- <a class="btn-getstarted" href="{% url 'civico:index' %}#about">Comenzar</a> -->
      <a href="https://api.whatsapp.com/send?phone=526869620888&text=Hola, me gustaría recibir más información..." class="btn-getstarted">
        <i class="bi bi-whatsapp"></i> <!-- This is the WhatsApp icon from Bootstrap Icons -->
      </a>

    </div>
  </header><!-- End Header -->