{% extends 'civico/base.html' %}
{% block main %}
<main id="main">

    {% for section in visible_sections %}
        {% with full_path=section.get_full_path %}
            {% if section.is_visible and section.file_exists %}
            <section id="{{ section.html_id }}" class="{{ section.section_class.name }}">
                {% include full_path %}
            </section>
            {% endif %}
        {% endwith %}
    {% endfor %}

</main>
{% endblock %}

{% block preloader %}
<!-- Preloader -->
<div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
{% endblock %}