{% load static %}
<!-- Faq Section - Home Page -->
<section id="{{ section_selection.section.html_id }}" class="faq">
  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="content px-xl-5">
          <h3><span><strong>Preguntas</strong> Frecuentes</span></h3>
          <p>
            ¿Tienes preguntas sobre nuestros servicios? Explora nuestras respuestas a las preguntas más frecuentes
            para obtener información valiosa sobre tus preocupaciones dentales.
          </p>
        </div>
      </div>

      <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

        <div class="faq-container">
          <div class="faq-item faq-active">
            <h3><span class="num">1.</span> <span>¿Cuándo debo hacerme una limpieza dental?</span></h3>
            <div class="faq-content">
              <p>Mantener una limpieza dental regular es esencial. Te recomendamos programar una cada seis meses
                para prevenir problemas.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

          <div class="faq-item">
            <h3><span class="num">2.</span> <span>¿Cuánto tiempo dura el proceso de blanqueamiento dental?</span>
            </h3>
            <div class="faq-content">
              <p>Por lo general, el blanqueamiento toma una sesion de 120 minutos.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

          <div class="faq-item">
            <h3><span class="num">3.</span> <span>¿Qué diferencia hay entre carillas y coronas dentales?</span>
            </h3>
            <div class="faq-content">
              <p>Las carillas son delgadas láminas que cubren solo la parte frontal de los dientes, mientras que las
                coronas encapsulan todo el diente.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

          <div class="faq-item">
            <h3><span class="num">4.</span> <span>¿Los implantes dentales son dolorosos?</span>
            </h3>
            <div class="faq-content">
              <p>La mayoría de los pacientes reportan un malestar mínimo durante el procedimiento y la recuperación
                es generalmente suave con analgésicos.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

          <div class="faq-item">
            <h3><span class="num">5.</span> <span>¿Qué son los alineadores invisibles y cómo funcionan?</span></h3>
            <div class="faq-content">
              <p>Los alineadores transparentes son una alternativa discreta a los brackets. Cambian suavemente la
                posición de los dientes con el tiempo.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

        </div>

      </div>
    </div>

  </div>
</section>
<!-- End Faq Section -->