{% load static %}
<section id="{{ section_selection.section.html_id }}" class="hero">
  <img src="../../static/civico/img/civico_27.JPG" alt="" data-aos="fade-in">

  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <h2 data-aos="fade-up" data-aos-delay="100">Cuidá tu sonrisa</h2>
        <p data-aos="fade-up" data-aos-delay="200">Las mejores coberturas, los mejores profesionales.<br>
          Elegí tu plan dental.
        </p>
        <div class='mt-3' data-aos="fade-up" data-aos-delay="300">
          <a href="https://api.whatsapp.com/send?phone=526869620888&text=Hola, me gustaría recibir más información sobre los planes dentales"
            class="btn btn-dark" target="_blank">Más Información</a>
        </div>
      </div>

      <!-- <div class="col-lg-5">
        <form action="#" class="sign-up-form d-flex" data-aos="fade-up" data-aos-delay="300">
          <input type="text" class="form-control" placeholder="Ingrese email">
          <input type="submit" class="btn btn-primary" value="Suscribirme">
        </form>
      </div> -->
    </div>
  </div>
</section>