{% load static %}
<!-- Promotions Section - Home Page -->
<section id="promociones" class="services">

  <!--  Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Promociones</h2>
    <p>¡Aprovecha estas oportunidades únicas y comienza tu camino hacia una salud bucal óptima y una sonrisa
      deslumbrante hoy mismo!
    </p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item d-flex">
          <div class="card">
            <img src="../../static/civico/img/promociones/promocion1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Coronas Dentales</h5>
              <p class="card-text">Para corregir imperfecciones estéticas como manchas,
                desgaste o fracturas.</p>
              <!-- <a href="#" class="btn btn-primary">Ver más</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item d-flex">
          <div class="card">
            <img src="../../static/civico/img/promociones/promocion2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Limpieza Dental</h5>
              <p class="card-text">Profunda, eliminando la placa y el sarro acumulados.</p>
              <!-- <a href="#" class="btn btn-primary">Ver más</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item d-flex">
          <div class="card">
            <img src="../../static/civico/img/promociones/promocion3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Beneficios</h5>
              <br>
              <br>
              <p class="card-text"></p>
              <!-- <a href="#" class="btn btn-primary">Ver más</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item d-flex">
          <div class="card">
            <img src="../../static/civico/img/promociones/promocion4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Promoción</h5>
              <p class="card-text">Para mantener una sonrisa radiante.</p>
              <!-- <a href="#" class="btn btn-primary">Ver más</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item d-flex">
          <div class="card">
            <img src="../../static/civico/img/promociones/promocion5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Implantes Dentales</h5>
              <p class="card-text">Para recuperar tu sonrisa completa y funcional.</p>
              <!-- <a href="#" class="btn btn-primary">Ver más</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section><!-- End Promotion Section -->