{% load static %}
<!-- Team Section - Home Page -->
<section id="team" class="team">

  <!--  Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Especialistas</h2>
    <p>Nuestros especialistas trabajan de la mano para brindarte una atención integral y personalizada.</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-5">

      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="900">
        <div class="member-img">
          <img src="{% static 'civico/img/equipo/team9.jpg' %}" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>Oscar Manuel Mendivil Marroquin</h4>
          <span>Cirujano Dentista</span>
          <p></p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="800">
        <div class="member-img">
          <img src="{% static 'civico/img/equipo/team8.jpg' %}" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>Manuel de Santiago Pintado</h4>
          <span>Cirujano Dentista</span>
          <p></p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="1000">
        <div class="member-img">
          <img src="{% static 'civico/img/equipo/team10.jpg' %}" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>Quetzalcot Aguirre Limon</h4>
          <span>Endodoncista</span>
          <p></p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
        <div class="member-img">
          <img src="{% static 'civico/img/equipo/team1.jpg' %}" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>Aaron Ivan Monroy Aripez</h4>
          <span>Cirujano Dentista</span>
          <p></p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
        <div class="member-img">
          <img src="{% static 'civico/img/equipo/team4.jpg' %}" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>Francisco Javier Menge Terriquez</h4>
          <span>Endodoncista</span>
          <p></p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
        <div class="member-img">
          <img src="{% static 'civico/img/equipo/team3.jpg' %}" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>Alonso Luis Rosas</h4>
          <span>Ortodoncista</span>
          <p></p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
        <div class="member-img">
          <img src="{% static 'civico/img/equipo/team2.jpg' %}" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>Alejandro Birkitt Sulquivido</h4>
          <span>Cirujano Dentista</span>
          <p></p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
        <div class="member-img">
          <img src="{% static 'civico/img/equipo/team5.jpg' %}" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>Isaac Amhed Soto Rodriguez</h4>
          <span>Cirujano Dentista</span>
          <p></p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
        <div class="member-img">
          <img src="{% static 'civico/img/equipo/team6.jpg' %}" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>Luis Carlos Reyna</h4>
          <span>Ciujano Maxilofacial</span>
          <p></p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="700">
        <div class="member-img">
          <img src="{% static 'civico/img/equipo/team7.jpg' %}" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>Lydia del Carmen Vazquez</h4>
          <span>Ortodoncista</span>
          <p></p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="1100">
        <div class="member-img">
          <img src="{% static 'civico/img/equipo/team11.jpg' %}" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>Yamel Jacobo Castro</h4>
          <span>Periodoncista</span>
          <p></p>
        </div>
      </div><!-- End Team Member -->

    </div>

  </div>

</section><!-- End Team Section -->