{% extends 'civico/base.html' %}
{% block title %}Actualizar Promoción{% endblock %}

{% block body_class %}
class="blog-page" data-bs-spy="scroll" data-bs-target="#navmenu"
{% endblock %}

{% block main %}

<main id="main">

    <!-- Blog Page Title & Breadcrumbs -->
    <div data-aos="fade" class="page-title">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-start text-start">
                    <div class="col-lg-8">
                        <h1>Actualizar Promoción...</h1>
                        <p class="mb-0">Complete los siguientes datos para actualizar la Promoción.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Page Title -->

    <section class="blog">
        <div class='container'>
            <div class="row">
                <div class="col-lg-8">

                    {% if user.is_authenticated and user.id == post.author.id %}
                    <div class="form-group">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.media }}
                            {{ form.as_p }}
                            <button class="btn btn-secondary">Actualizar</button>
                        </form>
                    </div>

                    {% else %}
                    <p>Por favor, acceder al sistema para actualizar la idea</p>
                    {% endif %}

                </div>
            </div>
        </div>

    </section>

</main>

{% endblock %}