{% extends 'civico/base.html' %}
{% block title %}Promociones{% endblock %}

{% block body_class %}
class="blog-page" data-bs-spy="scroll" data-bs-target="#navmenu"
{% endblock %}

{% block main %}

<main id="main">

<br><br><br>
{% if sections %}
    {% for section_selection in sections %}
        {% if section_selection.is_visible and section_selection.page.template_path == 'services/home.html' %}
            {% include section_selection.section.section_path %}
        {% endif %}
    {% endfor %}
{% endif %}

</main>

{% endblock %}